body{
	font-size: 13px;
	line-height: 22px;
	color: #000;
	-webkit-font-smoothing: antialiased;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;

}

*,*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}


::selection {
	background: #ff5d5e; /* Safari */
	color:#FFF;
	}
::-moz-selection {
	background: #ff5d5e; /* Firefox */
	color:#FFF;
}


h1,h2,h3,h4,h5,h6{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	padding: 1px 0px;
	margin: 1px 0px;
	font-weight: 600;
	color: #666;
}

h5,h6{
	color: #444;
	font-weight: 600;
}

h2{
	font-size: 25px;
	line-height: 35px;
}

h3{
	font-size: 20px;
	line-height: 30px;
}

h4{
	font-size: 16px;
	line-height: 28px;
}

h5{
	font-size: 14px;
	line-height: 27px;
}

h6
{
	font-size: 13px;
	line-height: 25px;
  }

p{
	padding:0px;
	margin:0px;
}

a:hover,a:active,a:focus {
	outline: 0;
}

ul li{
	list-style-type:none;
}

.bold{
	font-weight: 600;
}

.sep{
	height: 5px;
	background: url("/images/sep.png") repeat;
}

hr{
margin:15px 0px 10px 0px;
padding:0px;
border-top:0px;
border-bottom:1px solid #f4f4f4;
height:0px;
}

.bor{
height:5px;
margin:10px 0px 10px 0px;
background:url('/images/sep.png') repeat-x;
}

.center{
text-align:center;
}

.horizontal-links a{
	margin-right: 20px;
}

a:hover,a:active,a:focus {
outline: 0;
text-decoration:none;
}

:focus {
	outline:none;
}

::-moz-focus-inner {
	border:0;
}

.well{
	background: #fff;
	border: 1px solid #eee;
	padding: 10px 15px;
	box-shadow: inset 0px 0px 2px #eee;
	margin: 10px 0px;
}

/* Form */

form{
   margin:5px 0px;
}

form *{
   font-size:13px !important;
}

/* Button */

/*a.btn, a.btn:visited, a.btn:hover{
	color:#333 !important;
}*/

a.btn-primary,a.btn-primary:visited,a.btn-primary:hover,
a.btn-warning,a.btn-warning:visited,a.btn-warning:hover,
a.btn-danger,a.btn-danger:visited,a.btn-danger:hover,
a.btn-success,a.btn-success:visited,a.btn-success:hover,
a.btn-info,a.btn-info:visited,a.btn-info:hover,
a.btn-inverse,a.btn-inverse:visited,a.btn-inverse:hover{
  color:#fff !important;
}

.button{
	margin: 10px 0px 5px 0px;
}

.button a, .button a:visited{
color: #fff;
padding: 5px 10px;
font-size: 12px;
font-weight: 600;
border-radius: 3px;
-webkit-transition:background 1s ease;
-moz-transition:background 1s ease;
-o-transition:background 1s ease;
transition:background 1s ease;
font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

.button a:hover{
color: #fff;
text-decoration: none;
-webkit-transition:background 1s ease;
-moz-transition:background 1s ease;
-o-transition:background 1s ease;
transition:background 1s ease;
}

/* Social */

.social{
font-size:16px;
margin: 5px 0px;
}

.social i{
display:inline-block;
box-shadow:inset 0px 0px 1px #333;
height:25px;
width:25px;
line-height:25px;
margin:0px 5px 0px 0px;
border-radius:3px;
color:#fff;
-webkit-transition:background 1s ease;
-moz-transition:background 1s ease;
-o-transition:background 1s ease;
transition:background 1s ease;
text-align:center;
}

.social i.facebook{
background:#3c5b9b;
}

.social i.twitter{
background:#2daae1;
}

.social i.google-plus{
background:#f63e28;
}

.social i.pinterest{
background:#cb2027;
}

.social i.linkedin{
background:#0173b2;
}

.social i:hover{
background:#000;
-webkit-transition:background 1s ease;
-moz-transition:background 1s ease;
-o-transition:background 1s ease;
transition:background 1s ease;
}

.social a,.social a:visited,.social a:hover{
color:#fff;
text-decoration:none;
}

/* Back to top */

.totop {
	position: fixed;
	bottom: 0px;
	right: 0px;
	z-index: 104400;
}

.totop a, .totop a:visited{
	display: block;
	width: 30px;
	height: 30px;
	color: #fff;
	text-align: center;
	line-height: 30px;
}

.totop a:hover {
	color: #fff;
	text-decoration: none;
}

/* Image alignment*/

.alignleft, img.alignleft {
	margin-right: 8px;
	margin-top:5px;
	display: inline;
	float: left;
}

.alignright, img.alignright {
	margin-left: 8px;
	margin-top:5px;
	display: inline;
	float: right;
}
   
.aligncenter, img.aligncenter {
	margin-right: auto;
	margin-left: auto;
	display: block;
	clear: both;
}


.onethree-right{
	float: right;
	width: 76%;
}
.onethree-left{
	float: left;
	
}
/* Half column */

.col-left{
	width: 32%;
	float: left;
	margin-left:10px;
}

.col-right{
	width: 48%;
	float: right;
}

/* Title */

.title{
	margin-bottom: 8px;
	padding-bottom: 3px;
	border-bottom: 1px solid #f3f3f3;
}

.title i{
	margin-right: 3px;
}

/* Container */

.container{
   max-width:1100px;
}

.top { background:#ff5d5e; width:100%; padding-bottom:3px;}

/* Header */
header{
	padding: 0px 0px 0px 0px;
	background: #fff;
	
}

header .logo{
	padding: 0px;
	padding-top: 20px;
}

header .logo h1 a, header .logo h1 a:visited, header .logo h1 a:hover{
	font-size: 35px;
	color: #777;
	text-decoration: none;
	font-weight: 400;
}

header .logo .meta{
	color: #000;
	line-height: 15px;
	padding: 0px;
	margin: 0px;
}

/* Navigation #1 */

.navbar *,.nav-collapse *{
	box-shadow: none !important;
	text-shadow: none !important;
	border-radius: 0px !important;
	font-weight: 600 !important; 
	font-size: 13px !important;
font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}



.navbar{
	padding-left: 0px;
	background: transparent;
	filter: none !important;
	border: 0px !important;
}

.navbar .btn{
	font-size:13px;
	padding:6px 10px;
	color: #fff !important;
	
}

.navbar{
	border-top: 0px !important;
	border-bottom: 0px !important;
	margin-bottom: 0px;
}

.navbar ul li{
	list-style-type: none;
	padding: 0px;
}

.navbar button{
	border: 0px;
	background:#ff5d5e !important;  
}

.navbar button:hover{
	background:#e9e9e9 !important;
}

.navbar button .icon-bar{
	background: #ddd !important;
}

.navbar .caret{
	border-top-color:#888 !important;
	border-bottom-color:#888 !important;
}

.navbar a, .navbar a:visited{
	color:#000 !important;
}

.navbar .nav > li > a, .navbar .nav > li > a:visited{
	/*color: #000 !important;*/
    padding: 34px 10px 34px;
	filter: none !important;
	-webkit-transition:color 1s ease;
	-moz-transition:color 1s ease;
	-o-transition:color 1s ease;
	transition:color 1s ease;	
	font-size:14px!important;
}


.navbar .nav > li > a:hover{
	
}

.dropdown-menu{
	border-radius:0px !important;
	box-shadow:none !important;
	border:none !important;
	padding:0px 0px;
	margin:0px;
	z-index: 300000;
	background: #333;
	border: 0px !important;
}

.dropdown-menu a, .dropdown-menu a:visited{
	padding:7px 10px !important;
	color:#ccc !important;
	text-shadow:none !important;
	background:#333 !important;
	border-top:1px solid #444 !important;
	border-bottom:1px solid #222 !important;	
}

.dropdown-menu a:hover,.dropdown-menu a:focus{
	filter:none !important;
	background: #222 !important;
}

.dropdown-menu:after, .dropdown-menu:before{
	border:none !important;
}

.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
  	background-color: transparent;
 }

 /* Parallax Slider */

.da-slider{
	margin-bottom: 0px;
}

 .da-slide h2{
   position:relative;
 	color: #fff;
 	font-weight: normal;
 	font-size: 35px;
	
 }

 .da-slide h2 span{
 	padding:5px 15px;
 }

 .da-slide p{
   position:absoulte;
 	top: 100px;
 	color: #fff;
 	font-style: normal;
 	font-size: 14px;
 	line-height: 20px;
 	padding: 10px 10px 10px 10px;
	background:rgba(0, 0, 0, 0.8);
 }

 .da-slide .da-link{
 	top: 230px;
 	border-radius: 0px;
 	font-size: 13px;
   width:100px;
 }

.da-dots{
	display: none;
}

.da-dots span{
	background: #222;
}

.da-arrows span{
	background: #222;
}

.da-slide .da-link{
	background: rgba(0,0,0,0.8);
}

.da-slide .da-link:hover{
	background: rgba(0,0,0,0.8);
}

/* Hero unit */

.hero{
	text-align: center;
	margin: 25px auto;
	max-width: 700px;
}

/* Page heading */

.page-head{
	box-shadow: inset 0px 0px 4px #bbb;
	background: #88d6ff;
	
}

.ecompage-head{
/*	padding: 20px 0px;
	box-shadow: inset 0px 0px 4px #bbb;*/
	background: #fff;
	
}

.page-head h2{
	color: #777;
	font-size: 23px;
	line-height: 33px;
}

.page-head h4{
	color: #999;
	font-size: 15px;
}

/* Service #2 */

.aserv-list{
margin-top: 10px;
margin-bottom:10px;
}

.aserv{
padding:7px 0px 7px 0px;
}

.aserv-img{
float:left;
margin-right:6px;
border-radius:30px;
width:40px;
height:40px;
border:4px solid #e7e7e7 !important;
}

.aserv-img i{
position:relative;
display: inline-block;
color:#fff;
background:#777;
width:36px;
font-size:16px;
height:36px;
line-height:36px;
text-align:center;
border: 2px solid #fff;
border-radius:30px;
-webkit-transition:background 1s ease;
-moz-transition:background 1s ease;
-o-transition:background 1s ease;
transition:background 1s ease;
cursor: pointer;	
}

.aserv-img i:hover{
-webkit-transition:background 1s ease;
-moz-transition:background 1s ease;
-o-transition:background 1s ease;
transition:background 1s ease;	
}

.aserv-details{
float:left;
font-size:14px;
font-weight:700;
color:#888;
line-height:40px;
}

/* Slider Features */

.slider-features{
	padding: 20px 0px;
	background:#FFF;
	border-bottom: 1px solid #ddd;
}

.slider-features .img{
	color: #fff;
}

.slider-features i{
	display: inline-block;
	width: 50px;
	height: 50px;
	font-size: 23px;
	border-radius: 50px;
	line-height: 50px;
	text-align: center;
	margin: 5px auto;
	box-shadow: inset 0px 0px 2px #444;
}

.slider-features h5{
	line-height: 20px;
}

.slider-features h5 a, .slider-features h5 a:visited{
	color: #444;
	-webkit-transition:color 1s ease;
	-moz-transition:color 1s ease;
	-o-transition:color 1s ease;
	transition:color 1s ease;		
}

.slider-features h5 a:hover{
	text-decoration: none;
	-webkit-transition:color 1s ease;
	-moz-transition:color 1s ease;
	-o-transition:color 1s ease;
	transition:color 1s ease;		
}

/* Content */

.content {
	margin: 20px 0px;
}


/* Features #1 */

.features-one .feat{
	margin-bottom: 5px;
	padding-bottom: 10px;
	border-bottom: 1px solid #eee;
}

.features-one .feat i{
	margin-right: 3px;
}

/* Features #2 */

.features-two{
	text-align: center;
	margin: 30px 0px 20px 0px;
}

.features-two .feat-inner{
	padding: 20px 10px 10px 10px;
	background: #fafafa url("../img/cream.png") repeat;
	border-radius: 10px;
	box-shadow: inset 0px 0px 5px #ccc;
	margin-bottom: 20px;
}

.features-two i{
	font-size: 35px;
	margin-bottom: 10px;
}

.features-two .button{
	margin-top: 10px;
	margin-bottom: 20px;
}

.features-two .button a{
	font-size: 11px;
}

/* Features three */

.features-three img{
	margin: 10px 0px;
}


/* Service style #1 */

.service-one{
	text-align: center;
	margin: 30px 0px 20px 0px;
}

.service-one i{
	font-size: 35px;
	color: #666;
	margin-bottom: 10px;
}

.service-one .button{
	margin-top: 10px;
	margin-bottom: 20px;
}

.service-one .button a{
	font-size: 11px;
}

/* Service style #2 */
	
.service-two h5 i{
margin-top:3px;
margin-right:3px;
}

/* Flex slider for image */

.flex-main .flexslider{
	margin: 20px 0px;
	margin-bottom: 10px;
	padding: 3px 5px;
	padding-bottom: 0px;
	border: 1px solid #ddd;
	box-shadow: 0px 0px 2px #bbb;
}

.flex-main .flexslider .slides > li {
	position:relative;
}

.flex-caption{
	width: 40%;
	margin: 0 0 100px 50px;
	position: absolute;
	display: block;
	left: 0;
	bottom: 0;
}

.flex-caption h3 {
	padding: 8px 10px;
	color: #fff;
	font-size: 16px;
	margin:0;
	line-height: 22px;
}

.flex-caption h3 span{
   padding-bottom:3px;
}
	
.flex-caption p {
	margin:0;
	line-height: 19px;
	color: #ddd;
	background: rgba(0, 0, 0, 0.8);
	padding: 10px;
}



.testi-flex{
	padding: 4px 8px;
}

.testi-flex p{
	font-style: italic;
	line-height: 22px;
}

.testi-flex .author{
	font-style: normal;
	font-size: 12px;
}

/* Tabs */

.tabs{
	margin-bottom:10px;
}

.tabs ul{
	padding: 0px;
	margin: 0px;
}

.tabs ul li{
	list-style-type: none;
}

.tabs *{
	border: 0px !important;
}

.tabs li a{
	padding: 5px 8px;
	font-size: 12px;
	border: 1px solid #eee !important;
	border-bottom: 1px solid #eee !important;
}

.tabs li.active a{
	background: #f2f2f2;
	border: 1px solid #eee !important;
}

.tabs li.active a:hover{
	background: #f2f2f2;
}

.tabs li.active a, .tabs li.active a:hover{
	color: #777;
}

.tabs li a{
	background: #fafafa;
	color: #777;
	cursor: pointer !important
}

.tabs li a:hover{
	background: #eee;
	color: #777;
}

.tabs .tab-pane{
	padding: 8px 10px;
	background: #fff;
	border: 1px solid #eee !important;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

/* About Slider */

.about-flex{
	padding: 4px 8px;
}

.about-flex img{
	max-width: 40px;
}

.about-flex hr{
	margin: 6px 0px 3px 0px;
}

.about-flex .meta{
	display: block;
	font-size: 11px;
	font-style: italic;
	font-weight: normal;
	line-height: 15px;
	color: #666;
	font-family: Arial, Helvetica, sans-serif;
}

.about-flex p{
	padding: 5px 0px;
}

/* Blog */


.blog .entry h2{
font-size:20px;
line-height:32px;
}

.blog .entry h2 a, .blog .entry h2 a:visited, .blog .entry h2 a:hover{
text-decoration:none;
color:#777;
}

.blog .meta{
border-top:1px solid #eee;
border-bottom:1px solid #eee;
margin:8px 0px;
padding:4px 8px;
color:#888;
text-transform:uppercase;
font-size:11px;
background:#eee url('../img/cream.png') repeat;
}

.blog .meta a, .blog .meta a:visited{
color:#555;
}

.blog .meta i{
margin-right:3px;
margin-left: 3px;
}

.blog .bthumb{
margin:10px 0px 5px 0px;
padding:1px;
/*box-shadow:0px 0px 1px #777;
*/}

.blog .bthumb2{
margin-top:8px;
margin-right:8px;
margin-bottom: 6px;
padding:1px;
box-shadow:0px 0px 1px #777;
}

.blog .bthumb3{
float: left;
max-width: 150px;
margin-top:8px;
margin-right:8px;
margin-bottom: 6px;
padding:1px;
box-shadow:0px 0px 1px #777;
}

.blog .bthumb2 img{
margin:0px;
}

.blog .entry{
margin-bottom:15px;
padding-bottom:10px;
/*border-bottom:1px solid #eee;
*/}

.blog-mul-col .entry{
   width:100%;
   margin:0 auto;
   max-width:350px;
}

.posts .social{
font-size:16px;
}

.posts .social i{
box-shadow:inset 0px 0px 1px #333;
height:25px;
width:25px;
line-height:25px;
margin:0px 5px 0px 0px;
border-radius:3px;
color:#fff;
-webkit-transition:background 1s ease;
-moz-transition:background 1s ease;
-o-transition:background 1s ease;
transition:background 1s ease;
text-align:center;
}

.posts i.facebook{
background:#3c5b9b;
}

.posts i.twitter{
background:#2daae1;
}

.posts i.google-plus{
background:#f63e28;
}

.posts i.pinterest{
background:#cb2027;
}

.posts i.linkedin{
background:#0173b2;
}

.posts .social i:hover{
background:#000;
-webkit-transition:background 1s ease;
-moz-transition:background 1s ease;
-o-transition:background 1s ease;
transition:background 1s ease;
}

.posts .social a,.posts .social a:visited,.posts .social a:hover{
color:#fff;
text-decoration:none;
}

.posts .tags a{
display:inline-block;
font-weight:normal;
margin-top:20px;
padding:5px 5px;
border-radius:4px;
font-size:13px;
-webkit-transition:background 1s ease;
-moz-transition:background 1s ease;
-o-transition:background 1s ease;
transition:background 1s ease;
 background-image: -moz-linear-gradient(center top , rgba(255, 255, 255, 0.05), rgba(0, 0, 0, 0.05));
    background-repeat: repeat-x;
    color: #333333;
    line-height: normal;
}

.posts .tags a:hover{
color:#fff;
text-decoration:none;
-webkit-transition:background 1s ease;
-moz-transition:background 1s ease;
-o-transition:background 1s ease;
transition:background 1s ease;
}

.posts .tags a.active{
color:#fff;
text-decoration:none;
-webkit-transition:background 1s ease;
-moz-transition:background 1s ease;
-o-transition:background 1s ease;
transition:background 1s ease;
background:#ff5d5e;
}

/* Blog #2 */

.blog .pblock .entry h2{
font-size:17px;
line-height:25px;
}

.blog .pblock img{
	max-width: 100%;
}

/* Comments */

.comments > ul > li{
background:none;
padding:0px;
}

.comments .comment{
margin:10px 0px;
padding:7px 3px;
/*background:#fff;
border-radius:5px;
border:1px solid #eee;
border-bottom:2px solid #ddd;*/
}

.comments ul{
	margin: 0px;
	padding: 0px;
}

.comments ul li{
	list-style-type: none;
}

.comment .avatar{
padding:1px;
background:#fff;
border:1px solid #aaa;
}

.comment .cmeta{
font-size:12px;
}

.comment p{
margin-top:5px;
}

.comments .reply{
margin-left:15px;
}

.respond .title, .comments .title{
padding:10px 0px;
margin-bottom:10px;
border-bottom:1px solid #eee;
}

/* Sidebar */

.sidebar{
margin-top:10px;
}

.sidebar h4{
font-size: 13px;
color:#555;
line-height:18px;
margin-bottom:5px;
padding-bottom:10px;
text-transform:uppercase;
border-bottom:1px solid #eee;
}

.sidebar .widget{
background:#fff;
padding:8px 10px;
margin-bottom:10px;
border:1px solid #eee;
}

.sidebar .widget .form-search{
margin-top:10px;
margin-bottom:10px;
}

.sidebar .widget ul{
   margin-left:0px;
   padding-left:15px;
}

/* Support */

#slist p{
display:none;
margin:5px 0px;
padding:5px 10px;
background:#fff;
line-height: 25px;
border:1px solid #eee;
}

#slist{
	margin-left: 15px;
   padding-left:0px;
}

#slist li{
}

#slist li a{
	display: block;
	margin-bottom: 10px;
}

/* Contact #1 */

.gmap iframe{
	width: 100%;
}

/* Accordion */

.accordion-heading .accordion-toggle {
display: block;
padding:0px;
}

.accordion li{
line-height:10px;
}

.accordion-heading a, .accordion-heading a:visited, .accordion-heading a:hover{
border:none;
color: #fff;
text-decoration: none;
padding: 10px !important;
background: #fafafa;
}

/* Pricing table #1 */

.pricel{
text-align: center;
margin-top:10px;
margin-bottom: 20px !important;
}

.plist a i{
	color: #333;
}

.plist a:hover i{
	color: #333;
	text-decoration: none;
}

.pricel .phead-top{
margin:0px;
padding:5px 10px;
}

.pricel .phead-top h4{
color:#fff;
}

.pricel .phead-bottom{
background:#f8f8f8;
border-left:1px solid #ddd;
border-right:1px solid #ddd;
border-bottom:1px solid #ddd;
margin:0px;
padding:10px 10px 5px 10px;
color:#777;
font-weight:700;
font-size:18px;
line-height:27px;
}

.pricel .pst{
font-size:12px;
position:relative;
top:-5px;
font-weight:normal;
}

.pricel .psb{
font-size:12px;
font-weight:normal;
}

.pricel .pbutton{
background:#eee;
border:1px solid #ddd;
padding:10px 0px 15px 0px;
color:#777;
font-size:20px;
text-align: center;
margin-top: 0px;
}

.pricel .plist{
border-left:1px solid #ddd;
border-right:1px solid #ddd;
background:#fcfcfc;
}

.pricel .plist ul{
   margin-left: 0px;
margin-bottom: 0px !important;
padding-left:0px;
}

.pricel .plist li{
   list-style-type: none;
background:none;
padding:13px 0px;
font-size: 12px;
border-bottom:1px solid #e1e1e1;
}

.pricel .plist li:nth-child(even) {
background-color:#f8f8f8;
}

.pricel .plist li:hover{
background:#fff;
}

.pricel .phead-top{
	display: block;
}

/* Pricing #2 */

.pricing-two .pricel{
	max-width: 260px;
	margin:40px auto;
}

.pricing-two .phead-top{
	padding-top: 60px;
}

/* Gallery */

.gallery img{
	max-width: 170px;
	margin: 5px;
	padding: 1px;
	border: 1px solid #aaa;
}

/* Proejcts */

.project .related-projects img{
	max-width: 150px;
	margin: 5px;
	padding: 5px;
	border: 1px solid #ddd;
}



/* Portfolio */

/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

/* End: Recommended Isotope styles */



/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
  -webkit-transition: none;
     -moz-transition: none;
      -ms-transition: none;
       -o-transition: none;
          transition: none;
}

.portfolio li{
display:inline !important;
border:none !important;
}

.portfolio li a, .portfolio li a:visited{
color:#777;
}

.portfolio li a:hover{
color:#777;
}

#portfolio{
text-align:center;
}

#portfolio .element{
margin:20px 10px 10px 0px;
padding: 5px;
color: #777;
}

#portfolio h5{
margin:0px 0px;
padding:0px;
color: #777;
}

#portfolio .pcap{
background:#f7f7f7;
outline: 1px solid #ddd;
border-top: 2px solid #ddd;
padding:3px 0px;
}

#portfolio a, #portfolio a:visited, #portfolio a:hover{
color:#fff;
text-decoration:none;
}

#portfolio .pcap p{
	padding: 0px 6px 10px 6px;
	font-size: 12px;
	color: #777;
}

#portfolio .pcap{
max-width:200px;
}

#portfolio .pcap{
line-height:20px;
}

#portfolio img{
width:200px;
max-width:200px;
height:150px;
}

#filters{
margin-left:0px;
padding-left:0px;
}

#filters li{
display:inline;
padding:0px;
background:none;
}

#filters a{
font-size:12px;
display: inline-block;
}

/* Career */


.career .nav > li{
background:none;
padding:0px;
list-style-type: none;
}

.nav-tabs > li > a:hover{
color:#fff;
}


/* Refind slider */

.rs-wrap{
   width:100% !important;
}

.rs-slider{
   width:100%;
	margin: 20px 0px 10px 0px;
	padding: 5px;
	border-radius: 5px;
	border: 1px solid #ddd;
	box-shadow: 0px 0px 3px #ddd;
}

.rs-thumb-wrap > a {
	max-width: 150px;
	margin: 5px !important;
	padding: 4px;
	border: 1px solid #ddd;
	border-radius: 5px;
	box-shadow: 0px 0px 3px #ddd;
}

.rs-caption {
    height: auto;
    overflow: hidden;
    bottom: 30px;
    left: 30px;
    background: rgba(0,0,0,0.7);
    padding: 10px 13px;
    color: #fff;
}

.rs-caption h4{
	color: #fff;
}

/* Footer */

footer{
	background:url(/images/fb-bg.jpg) repeat #09F;
	padding-top: 20px;
	padding-bottom: 0px;
	color: #aaa;
	font-size: 12px;
	/*box-shadow: inset 0px 0px 10px #000;*/
}

footer a, footer a:visited{
	color: #AAA;
}

footer a:hover{
	color: #ccc;
	text-decoration: underline;
}

footer hr{
	height: 0px;
	padding: 0px;
	margin: 5px 0px;
	border-top: 1px solid #111;
	border-bottom: 1px solid #222;
}

footer h5{
	color: #fff;
}

footer h6{
	color: #fff;
}

footer ul{
	margin-left: 0px;
   padding-left:0px;
}

footer ul li{
	list-style-type: none;
}

footer .widget{
	margin-bottom: 10px;
}

footer .copy{
	margin-bottom: 5px;
	font-size: 11px;
}

/* Responsive */

@media (max-width: 480px){
	.da-img{
		display: none;
	}
	.da-slide h2{
		font-size: 15px;
		width:10%!important;
	}
	.da-slide p{
		width: 90%;
		font-size: 15px;
  		height:auto!important;
		}
	
	.col-left{
		width: 100%;
		float: none;
		margin-right: none;
	}

	.col-right{
		width: 100%;
		float: none;
	}
	.error-page .big-text{
		font-size: 80px;
		line-height: 90px;
	}
	
	.left1 { width:100%!important;}
	.gleft { width:100%!important;}

	.right1 img { display:none;}
	
	.posts .tags a { margin-top: 5px!important;
	}
	.feat-inner img{ width:20%; float:left; margin-right:10px;}
	.feat-inner { margin-bottom:10px!important;}
	
	.sidey .nav > li > a {
    font-size: 12px!important;
    line-height: 10px!important;
    padding: 5px 5px!important;
}
.navbar .nav > li > a, .navbar .nav > li > a:visited{
	color: #000 !important;
    padding: 5px 10px 5px!important;
	
}

.project .related-projects img{
	max-width: 80px!important;
	margin: 5px;
	padding: 5px;
	border: 1px solid #ddd;
}

.options_toggle { display:none!important;}

.comment img {
    max-width: 65px!important;
}

.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td 
	{ border: 1px solid #ccc!important;
	border-left: 1px solid #ccc!important;}
	
}

@media (min-width: 768px){ 	.da-slide h2{
		font-size: 20px!important;
		
	}
	
	

	
	 }

@media (min-width: 768px) and (max-width: 1000px){ .navbar .nav > li > a, .navbar .nav > li > a:visited{
	color: #000 !important;
    padding: 34px 5px 34px!important;
	filter: none !important;
	-webkit-transition:color 1s ease;
	-moz-transition:color 1s ease;
	-o-transition:color 1s ease;
	transition:color 1s ease;	
	font-size:12px!important;
}

 
	}
@media (max-width: 768px){
	.onethree{
		margin-bottom: 15px;
	}
	.onethree-left{
		display: block;
		float: none;
		text-align: center;
		width: 100%;
		margin-bottom: 10px;
	}
	.onethree-right{
		float: none;
		width: 100%;
		text-align: center;
	}
	.flex-caption{
		display: none;
	}
	header{
		padding-top: 10px !important;
		padding-bottom: 0px !important;
		padding-left: 20px;
		padding-right: 20px;
	}
	header .logo{
		text-align: center;
	}
	.navbar{
		margin-top: 10px;
	}
	.dropdown-menu a{
		margin: 0px !important;	
	}
	.da-slide{
		left: 0px;
	}
	.da-slide .da-img{
		left: 70%;
	}
	.page-head{
		text-align: center;
	}
	.ctas .button{	
		margin-top: 5px;
	}
	.service-two h5{
		margin-top: 8px;
	}
	.form-inline button{
   		margin-left:0px;
   	}  
   	.rs-caption {
   		display: none;
   	}
   	.about-two .staff{
   		max-width: 250px;
   		margin: 0 auto;
   	}
	
	

}

@media (max-width: 991px){
	.dropdown-menu a{
		margin: 0px !important;	
	}
	.da-slide{
	left: 10px;
	}	
	.da-slide .da-img{
		left: 70%;
	}
	
	
}

/*coding by nimisha*/
.col_lft 	{ max-width:100px; float:left;}
.col_rgt 	{ max-width:155px; float:right; }
.onethree	{ padding:5px 25px 20px 10px;}
.ecomwrap	{ padding:5px 10px 0px 10px; }
.ecomwrap h3{ border-bottom:1px solid #ccc; margin-bottom:15px;}
.ecomerse	{ margin-bottom:20px;}
.ecom_lft img{ max-width:110px;}
.ecom_rgt	{ text-align:left; color:#464646;}
.mar_btm	{ margin-top:20px;}
.mar_top	{ margin-top:10px;}
.form-inline .checkbox {    display:block!important;    margin-bottom: 5px;    margin-top: 0;    padding-left: 0;}
.entry h4	{ color:#E63214;}
.width		{ max-width:350px;}
.white		{ background:#FFF;}
.comment img { max-width:135px;}
.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    /*border: 1px solid #ccc!important;*/}
	.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
  /*  border-left:none!important;*/
	border-right:none!important;
	border-top:none!important;

}
.comment-author a{ color:#000!important;}
.ecom_txt 		 { margin:auto; width:60%; text-align:center;}
.ecom_txt h1	 { font-family:"MS Serif", "New York", serif; color:#999}
.ecom_txt p 	 { color:#999; font-size:14px;}
.feat-inner		 { padding: 10px 10px 10px 10px;	background: #EDEAEA; margin-bottom: 20px;}
.feat-inner h4   { font-size:14px; color:#333; cursor:pointer;}
.feat-inner h4:hover{ font-size:14px; color:#E63214; }
.panel-title h4  { color:#009!important;}
.entry h5 i { color:#E63214; margin-right:5px;}
.entry i { color:#E63214; margin-right:5px;}

.left1 { width:55%; margin-top:10px;}
.right1 {margin-top:-60px;}

.gleft { width:42%; margin-top:10px;}
.gright {margin-top:-20px;}

.panel-title a { color:#FFF;}
.panel-title a:hover { color:#fff; text-decoration:none;}

.recent-posts .rp-details {
    background: none repeat scroll 0 0 #FAFAFA;
    padding: 15px 3px;
    text-align: center;
	
}

.rp-item { border:1px solid #f2f2f2;}
/* Recent posts */


.rp-item img{
	width: 100%;
}




.recent-posts ul{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

.recent-posts ul li{
	max-width: 195px;
	margin: 5px 4px 0px 4px; 
	display: block;
	float: left;
}

.recent-posts .rp-item{
	border-bottom: 2px solid #eee;
	-webkit-transition:border-bottom 1s ease;
	-moz-transition:border-bottom 1s ease;
	-o-transition:border-bottom 1s ease;
	transition:border-bottom 1s ease;	
}
.recent-posts .rp-item:hover{
	-webkit-transition:border-bottom 2s ease;
	-moz-transition:border-bottom 2s ease;
	-o-transition:border-bottom 2s ease;
	transition:border-bottom 2s ease;		
}



#iphone 	{background-position: 0 12px;background-image: url(/images/photos/device-sprite.png);background-repeat: no-repeat;}
#iphone-l   {background-image: url(/images/photos/device-sprite.png);background-repeat: no-repeat;background-position: 0 -93px;}
#ipad      {background-image: url(/images/photos/device-sprite.png);background-repeat: no-repeat;background-position: 0 -197px;}
#ipad-l {background-image:url(/images/photos/device-sprite.png);background-repeat: no-repeat;background-position: 0 -306px;}
#desktop {background-image: url(/images/photos/device-sprite.png);background-repeat: no-repeat;background-position: 0 -422px;}

#screen-options 
{text-align: center;height: 60px;width: 560px;background: url(images/arrow-right.png) right no-repeat;float: left;margin-left: 65p;}
#screen-options li {text-indent:-9999px;display: block;height: 80px; width:90px; float: left;opacity: 0.4;
-webkit-transition: all 0.15s ease-in-out 0s;
-moz-transition: all 0.15s ease-in-out 0s;
-o-transition: all 0.15s ease-in-out 0s;
transition: all 0.15s ease-in-out 0s;}
#screen-options li:hover {opacity: 1;}
#screen-options li.active1 {opacity: 1;}

#getURL {width:140px;}

#viewport {
/* initial width only   */
margin: auto ;background-color:#CCCCCC;margin-top: 30px; overflow:hidden;
-webkit-transition: all 0.4s ease-in-out 0s;
-moz-transition: all 0.4s ease-in-out 0s;
-o-transition: all 0.4s ease-in-out 0s;
transition: all 0.4s ease-in-out 0s;
-webkit-box-sizing:content-box!important;-moz-box-sizing:content-box!important;box-sizing:content-box!important;
}


iframe {background-color: white; margin:auto; border:none;}


#device-detail {
   
}
.desktop-detail {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-bottom: 100px solid #404042;
    border-left: 50px solid rgba(0, 0, 0, 0);
    border-radius: 25px;
    border-right: 50px solid rgba(0, 0, 0, 0);
    height: 0;
    top: 4px;
    width: 200px;
}
#device-detail {
position: relative;
z-index: 1000;
text-indent:-9999px;
display: block;
margin: auto;
-webkit-transition: all 0.15s ease-in-out 0s;
-moz-transition: all 0.15s ease-in-out 0s;
-o-transition: all 0.15s ease-in-out 0s;
transition: all 0.15s ease-in-out 0s;}

/* iphone 320 x 480 */
#viewport.iphone { border-top:45px solid; border-right:15px solid; border-bottom:45px solid; border-left:15px solid; border-radius:20px; -moz-box-shadow:1px 2px 9px #000000; -webkit-box-shadow:1px 2px 9px #000000; box-shadow:1px 2px 9px #000000;}
.iphone, .iphone iframe {width:320px;height:480px;}
.iphone-l {border-top: 15px solid;border-right: 45px solid;border-bottom: 15px solid;border-left: 45px solid;border-radius: 20px;  -moz-box-shadow:1px 2px 9px #000000; -webkit-box-shadow:1px 2px 9px #000000; box-shadow:1px 2px 9px #000000;}
.iphone-l, .iphone-l iframe {width:480px;height:220px;}


/* ipad 1024 x 768 */
.ipad { border: 40px solid;border-radius: 20px; -moz-box-shadow:1px 2px 9px #000000; -webkit-box-shadow:1px 2px 9px #000000; box-shadow:1px 2px 9px #000000;}
.ipad, .ipad iframe {width:640px;height:924px;}
.ipad-l {border: 40px solid;border-radius: 20px;}
.ipad-l, .ipad-l iframe {width:768px;height:568px; -moz-box-shadow:1px 2px 9px #000000; -webkit-box-shadow:1px 2px 9px #000000; box-shadow:1px 2px 9px #000000;}


/* desktop 1200 x 800*/ 
.desktop {border: 20px solid;border-radius: 10px;}
.desktop, .desktop iframe {width:900px;height:800px;}



.sidey { margin-top:15px;}
.sidey .nav ul {
    margin: 0;
    padding: 0;
}
.sidey .nav {
    border-top: 1px solid #bc4546;
    margin: 0;
    padding: 0;
}
.sidey .nav > li {
    margin: 0;
}


.sidey .nav > li > a {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #ff5d5e;
    border-color: -moz-use-text-color #bc4546 #bc4546;
    border-image: none;
    border-right: 1px solid #df5354;
    border-style: none solid solid;
    border-width: 0 1px 1px;
    color: #fff;
    display: block;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    padding: 8px 10px;
    text-decoration: none;
}

.sidey .nav a:hover, .sidey .nav li.active > a {
    background: none repeat scroll 0 0 #fff;
    color: #000;
}
.sidey .nav > li.active > a {
    background: none repeat scroll 0 0 #444444;
}
.process-meta i {
    border-radius: 35px;
    box-shadow: 0 0 2px #444444 inset;
    display: inline-block;
    font-size: 15px;
    height: 35px;
    line-height: 35px;
    margin: 5px auto;
    text-align: center;
    width: 35px;
	color:#FFF;
	background:#ff5d5e;
}
.onethree-right{ width:80%;}

.feat-inner i { font-size:24px; }.feat-inner { text-align:center; box-shadow: 0 0 5px #CCCCCC inset;}


#t_options {
    background: none repeat scroll 0 0 #FCFCFC;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
    color: #464646;
    font-family: 'Open Sans',arial,sans-serif;
    font-size: 11px;
    left: -230px;
    position: fixed;
    top: 80px;
    width: 230px;
    z-index: 5000;
}
#t_options hr {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color -moz-use-text-color #DDDDDD;
    border-image: none;
    border-left: 0 none;
    border-right: 0 none;
    border-style: none none dotted;
    border-width: medium 0 1px;
    margin: 20px 0;
}
#t_options h6 {
    color: #464646;
    font-size: 14px;
}
#t_options input {
    width: 200px;
	border-radius: 4px;
    display: inline-block;
    font-size: 14px;
    height: 25px;
    line-height: 20px;
    margin-bottom: 10px;
    padding: 4px 6px;
}
#t_options .col {
    margin: 0 10px;
    width: 50px;
}
.colorpicker {
    z-index: 5001;
}
.options_inner {
    height: 100%;
    position: relative;
    width: 100%;
}
.options_box {
    color: #444444;
    margin: 0 14px;
    overflow: hidden;
    padding: 10px 0 20px;
}
.options_box .solidline {
    margin-bottom: 10px;
}
.options_box h6 {
    font-weight: bold;
    text-align: center;
}
.options_box .full {
    overflow: hidden;
    padding-bottom: 10px;
    width: 100%;
}
.options_box .halfcol {
    float: left;
    margin: 0 5px;
    width: 90px;
}
.options_box .fourcol {
    float: left;
    margin: 0 5px;
    width: 30px;
}
.options_box .fourcol.color a {
    display: block;
    height: 30px;
    margin-bottom: 5px;
    width: 30px;
}
.options_box .halfcol .wideboxed h6 {
    font-size: 11px;
    font-weight: 600;
}
.options_toggle_holder {
    position: absolute;
    right: -40px;
}
.options_toggle {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #111111;
    border-color: #111111 #111111 #111111 -moz-use-text-color;
    border-image: none;
    border-style: solid solid solid none;
    border-width: 1px 1px 1px medium;
    cursor: pointer;
    display: block;
    height: 40px;
    margin: 6px 0 0 4px;
    width: 40px;
}
.options_toggle span .icon {
    color: #FFFFFF;
    display: block;
    margin: 10px 0 0 7px;
}
.options_toggle:hover, .options_toggle:focus, .options_toggle:active {
    outline: 0 none;
    text-decoration: none;
}
.options_heading {
    border-bottom: 1px dotted #DDDDDD;
    color: #444444;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 20px;
    margin-top: 5px;
    padding-bottom: 10px;
    text-transform: uppercase;
}
.options_box a.t_default {
    background:#000;
}
/*.options_box a.t_stamp {
    background: none repeat scroll 0 0 #D2391D;
}
.options_box a.t_jeans {
    background: none repeat scroll 0 0 #446F7F;
}
.options_box a.t_retro {
    background: none repeat scroll 0 0 #A6A390;
}
.options_box a.t_romantic {
    background: none repeat scroll 0 0 #EA6D75;
}
.options_box a.t_asphalt {
    background: none repeat scroll 0 0 #34495E;
}
.options_box a.t_pomegranate {
    background: none repeat scroll 0 0 #C0392B;
}
.options_box a.t_pumpkin {
    background: none repeat scroll 0 0 #D35400;
}
.options_box a.t_lightorange {
    background: none repeat scroll 0 0 #F39C12;
}
.options_box a.t_red {
    background: none repeat scroll 0 0 #C14C4B;
}*/
.options_box a.t_green {
    background:#44A582;
}
.options_box a.t_cocoa {
    background:#D6C05D;
}
.options_box a.t_purple {
    background:#C81DBE;
}
.options_box a.t_yellow {
    background:#FCDD45;
}
.options_box a.t_blue {
    background:#467DA2;
}
.options_box a.t_cocoa {
    background:#D6C05D;
}
.bgr .bg {
    border: 1px solid #E6E6E6;
    height: 28px;
    width: 28px;
}
#accent_color {
    background:#EF5523;
    border: medium none;
    color: #FFFFFF;
    margin-left: 2px;
    outline: 0 none;
    text-align: center;
    text-transform: uppercase;
	padding:4px 6px;
}

#bodybg_color {
    background:#000;
    border: medium none;
    color: #FFFFFF;
    margin-left: 2px;
    outline: 0 none;
    text-align: center;
    text-transform: uppercase;
}
.bgr .bg {
    border: 1px solid #E6E6E6;
    height: 28px;
    width: 28px;
}

.bgr .bg.bg1 {
    background:#0FC;
}

.btn-danger { border:none;}

#wrapper{
	width:100%;
	margin:0;	
	padding:0;
}

#wrapper.boxed{
	width:1230px;
	background: none repeat scroll 0 0 #FFFFFF;
	overflow:hidden;
	margin:0 auto;	
	padding:0;
	background:#fff;
}

.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
    float: left;
    margin-left: 0px!important;
	margin-right: 5px;
}


/*Start responive page carousal*/
.inner-page.product .pr-content .carousel .carousel-control .icon-prev, .inner-page.product .pr-content .carousel .carousel-control .icon-next {
    background: none repeat scroll 0 0 #222222;
    border: 3px solid #FFFFFF;
    border-radius: 50px;
    font-size: 28px;
    height: 35px;
    line-height: 25px;
    width: 35px;
}
.carousel-control.left {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.carousel-control {
    bottom: 0;
    color: #FFFFFF;
    font-size: 20px;
    left: -8%;
    opacity: 0.5;
    position: absolute;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    top: 0;
    width: 15%;
}
.carousel-control.right {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  left: auto;
    right: -7%;
}

/*Start responive page carousal*/

.pr-content { margin-top:30px;}


.inner-page .head {
    color: #000;
    font-size: 40px;
    padding: 0;
    text-align: center;
	margin-top:30px;
	font-family: 'Open Sans Condensed',sans-serif;
    font-weight: 700;
}

.inner-page span {
    color: #fff;
    font-size: 50px;
   
   
}

.product .head {
    color: #000;
    font-size: 40px;
    padding: 0;
    text-align: center;
	margin-top:30px;
	margin-bottom:30px;
	font-family: 'Open Sans Condensed',sans-serif;
    font-weight: 700;
}

 .head {
	margin-bottom:50px;
}

.pr-item p {
	 color:#FFF;
	  font-size:14px;
	 background:#096185;
	 padding:15px;
	 margin:25px 0 0 0;
 	}
	
	.pr-para {
	 color:#000; font-size:30px;
	 padding:15px;
	 margin:25px 0 0 0;
	 line-height:40px;
	  font-weight:bold;
	  font-family: 'Open Sans Condensed',sans-serif;
 	}
	
	.pr-para1 {
	 color:#000; font-size:14px;
	 padding:15px;
	 margin:0px 0 0 0;
	  font-family: 'Open Sans Condensed',sans-serif;
	 
	
 	}
	
	.pr-para2 {
	 color:#000; font-size:14px;
	 padding:15px;
	 margin:0px 0 0 0;
	 background:#e8e8e8;
	 margin-top:20px;
	
	 
	
 	}
	
	.pr-para3 {
	 color:#000; font-size:14px;
	}
	
	
	


/*End responive page carousal*/

.responselove { background: none repeat scroll 0 0 #3A9AC4;
	padding:40px 0 40px 0;
}

.responselove h2 {  color: #FFFFFF; font-size:40px; text-align:center; font-family: 'Open Sans Condensed',sans-serif;}
.inner-page .btn { background:#2982a8; color:#fff!important; border-radius:0px!important;     font-size: 17px!important;     padding: 10px 20px!important;  }

.responselove .btn { background:#2982a8; color:#fff!important; border-radius:0px!important;     font-size: 17px!important;     padding: 10px 20px!important;  }
.btn-primary:hover, .btn-primary:focus, .btn-primary:active { border-color:#287ea2!important; background:#247496; color:#FFF; }

.big-list i {
    float: left;
    font-size: 30px;
	margin:5px 10px 0 10px;
	color: #fff;
	width:30px;
}

.big-list li {
    height:40px;
    line-height: 35px;
    margin: 10px 0 0 0;
	background:#4baad3;
	font-size:20px;
	color:#fff;
}
.big-list1 i {
    float: left;
    font-size: 20px;
	margin:5px 5px 0 10px;
	color: #000;
}

.big-list1 li {
    
    line-height: 30px;
    margin:10px 0 0px 0;
	font-size:20px;
	color:#4baad3;
	font-weight:bold;
}

.big-list2 li {
    
    line-height: 30px;
    margin:10px 0 0px 0;
	font-size:20px;
	font-weight:bold;
	background: #ff5d5e; /* Safari */
	color:#FFF;
	padding:10px;
}

.big-list3 {
    line-height: 30px;
    margin:10px 0 0px 0;
	font-size:65px;
	font-weight:bold;
	margin-top:10px;
	color:#D9534F;
	padding:10px;
}
.smartphone{ margin-top:100px; border-bottom:dashed; padding-bottom:20px; border-bottom-color:#4BAAD3;}
.smartright { font-size:20px; margin-top:10px; color:#686868; }


#g {
    color: #1547F0;
}
#o {
    color: #E62533;
}
#o2 {
    color: #FEAC06;
}
#l {
    color: #0EB620;
}
#e {
    color: #D6192E;
}
.aol{ color:#00F;}

.dummy { font-size:30px; text-shadow:2px 2px #ccc;  font-family: 'Open Sans Condensed',sans-serif;}